body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Chivo Mono', monospace;
    background-color: rgb(235, 239, 243);
   

}
.btn{
    background-color: rgba(236, 106, 106, 0.404);
    padding: 10px;
    font-size: 8rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: antiquewhite;
    font-weight: bold;
}
.btn:hover{
    padding: 8px;
    color: rgb(221, 213, 213);
}
h2{
    font-size: 2rem;
    color: rgb(4, 55, 100);
}
.emo{
    color: blue;
}